/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0810ea; /* neutral background */
    color: #333;
}

img {
    border-radius: 10%;
    opacity: 0.5;
}

/* Header & Footer */
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Navigation Menu */
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(244, 140, 5);
    font-weight: bold;
}

.nav-menu a:hover {
    background-color: #823df0;
}

/* Content Sections */
section {
    margin: 20px;
    padding: 20px;
    background: rgb(240, 235, 241);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

